<div class="product-list">
    <h1>Product List</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productList">
          <td><a routerLink="/product-details/{{item.id}}"><img [src]="item.image" alt="didn't get"/></a></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
          <td>
            <div class="action-div">
                <fa-icon [icon]="faDelete" (click)="deleteProduct(item.id)"></fa-icon>
                <fa-icon [icon]="faUpdate" routerLink="/seller-update-product/{{item.id}}"></fa-icon>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>